header .navbar{
    background-color: #582f0e;
}

 .nav-item a{
        color: white;

}
.nav-item a:hover{
        color: white;

}

.navbar-brand i{
    color: white;
}
h1{
    text-align: center;
}

form{
    background-color: #a4ac86;
    width: 300px;
    height: 400px;
    margin: 20px auto;
    text-align: center;
    padding-top: 90px;
    border-radius: 15px;
}
form:hover{
    box-shadow: 4px 8px 10px 4px;
}

button{
    background-color: #333d29;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: #333d29;
}